<header {{bind-attr class=":header network"}}>
  <meta name="theme-color" content="">
  <div class="header-container">
    {{#link-to linkToLogo class="header-logo"}}
      <img src="images/logo.png" alt="connect">
    {{/link-to}}

    <nav class="nav-header">
      {{#unless session.isAuthenticated}}
        <ul class="nav-header-list" menu-logged-out>
          <li class="nav-item">
            {{#link-to "about" class="nav-link"}}About{{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'security' class="nav-link"}}Security{{/link-to}}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Concact</a>
          </li>
        </ul>
      {{/unless}}
      </nav>
      {{#if session.isAuthenticated}}
        <div menu-logged>
          <button {{action "toggleSidebar"}} class="header-button type-menu">
            <i class="icon-hamburger"></i>
          </button>
          <div class="header-user-options">
            {{#link-to 'friends' class="header-button type-friends"}}
              <img src="svg/friends.svg">
            {{/link-to}}
            {{#link-to "search.new" class="header-button type-search"}}
              <i class="icon-search"></i>
            {{/link-to}}
          </div>
        </div>
      {{/if}}
    </div>
  {{yield}}
</header>