<header {{bind-attr class=":header network"}}>
  <meta name="theme-color" content="">
  <div class="header-container">
    {{#link-to "application" class="header-logo"}}
      <img src="images/logo.png" alt="connect">
    {{/link-to}}
    <nav class="nav-header">
      {{#unless session.isAuthenticated}}
        <ul class="nav-header-list" menu-logged-out>
          <li class="nav-item">
            <a class="nav-link" href="">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Security</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Concact</a>
          </li>
        </ul>
      {{/unless}}
      </nav>
      {{#if session.isAuthenticated}}
        <div menu-logged>
          <button {{action "toggleSidebar"}} class="header-button type-menu">
            <i class="icon-hamburger"></i>
          </button>
          {{#link-to "search" class="header-button type-search"}}
            <i class="icon-search"></i>
          {{/link-to}}
        </div>
      {{/if}}
    </div>
  {{yield}}
</header>