<ul class="trending-topics">
  {{#each hash in hashtags}}
    <li class="trending-topics-item">
      {{#link-to "search.index" (query-params q=hash) class="trending-topics-link"}}{{hash}}{{/link-to}}
    </li>
  {{/each}}
</ul>
{{yield}}
