/**
 * -------------------------
 *  Libraris
 * -------------------------
 */
@import 'jeet'
@import 'rupture'
@import 'kouto-swiss'

ks-support-ie = 8

@import 'base'

/**
 * -------------------------
 *  Modules
 * -------------------------
 */
@import 'modules/header'
@import 'modules/header-nav'
@import 'modules/post'
@import 'modules/search'
@import 'modules/timeline'
@import 'modules/profile'
@import 'modules/tags'
@import 'modules/profile-user-card'
@import 'modules/profile-card'
@import 'modules/twitter-info'
@import 'modules/loading-bar'
@import 'modules/dashboard'
@import 'modules/user-friend'
@import 'modules/trending-topics'


/**
 * -------------------------
 *  Partials
 * -------------------------
 */
@import 'partials/icons'
@import 'partials/buttons'


@import 'pages/welcome'


/**
 * -------------------------
 *  Vendor
 * -------------------------
 */
@import 'vendor/rewrite'
@import 'theme'

.container
  heigth 100%

.search-result
  &-item
    margin 0 auto 30px auto

.page-title
  font-size 50px
  font-family $font-primary
  color rgba(0, 0, 0, 0.6)

.page-container
  +above(600px)
    width 600px
