/**
 * -------------------------
 *  Libraris
 * -------------------------
 */
@import 'jeet'
@import 'rupture'
@import 'kouto-swiss'

ks-support-ie = 8

@import 'base'

/**
 * -------------------------
 *  Modules
 * -------------------------
 */
@import 'modules/header'
@import 'modules/header-nav'
@import 'modules/post'
@import 'modules/search'
@import 'modules/timeline'
@import 'modules/profile'
@import 'modules/tags'
@import 'modules/profile-user-card'
@import 'modules/profile-card'
@import 'modules/twitter-info'
@import 'modules/loading-bar'
@import 'modules/dashboard'
@import 'modules/user-friend'


/**
 * -------------------------
 *  Partials
 * -------------------------
 */
@import 'partials/icons'
@import 'partials/buttons'


@import 'pages/welcome'


/**
 * -------------------------
 *  Vendor
 * -------------------------
 */
@import 'vendor/rewrite'
@import 'theme'

.search-result
  &-item
    width 250px
    margin 0 auto 30px auto
    +above($desktop)
      float left
      &:nth-child(odd)
        margin-right 80px
