/**
    button.has-news
*/
.has-news
  width 100%
  height 42px
  line-height 42px
  text-align center
  font-size 14px
  font-weight 800
  border-top 1px solid $light-silver
  border-bottom 1px solid $light-silver
  background-image linear-gradient(0, #FFF, #F0F0F0)
  color #BFBFBF

  &:hover
    color #1e88e2
