/**
  .header
    .header-container
      .header-logo
    .header-input
      input.header-input__input
        button.header-input__submit
    button.header-menu__btn
 */

$header-height = 62px

$header-btn
  display block
  width 38px
  height 38px
  border 1px solid #FFF
  border-radius 100%

$header-animation
  will-change background-color, border-color
  transition border-color 200ms linear
  transition background-color 500ms linear

.no-auth
  .header-logo
    +below(700px)
      margin-left 5%

.header
 .icon-search
    margin-left 9px
    margin-top 7px
    

.header
  @extend $header-animation
  position fixed
  top 0
  z-index 4
  width 100%
  height 62px
  border-bottom 4px solid #1E72E2
  background-color $color-connect-dark

  &-container
    position relative
    margin 0 auto
    height 100%

    +above($min-width)
      padding-left 5%
      padding-right 5%

  &.facebook
    background-color $color-facebook
    border-color $color-facebook-dark

  &.twitter
    background-color $color-twitter
    border-color $color-twitter-dark

  &-user-options
    float right

  &-button
    @extend $header-btn
    float left
    margin-top 11px
    &.type-menu
      +above($desktop)
        display none
    &.type-friends
      margin-right 12px
 
  &-logo
    width 147px
    position absolute
    left 0
    right 0
    margin 0 auto
    display block
    padding-top 21px

  &-menu-btn
    position absolute
    top 11px
    padding 7px 14px
    border-radius 6px
    cursor pointer
    border 1px solid #2174b8
    background-image linear-gradient( 0deg, #1e88e2 0%, #2174b8 100% )
    box-shadow inset 0px 1px 0px 0px rgba(255,255,255,0.2)

    &:focus
      box-shadow 1px 1px 10px rgba(255,255,255,0.2)
      background-color #2174b8

    &.profile
        left 5%

    +above($tablet)
      display none