/**
  header.nav-header
    nav.nav-list
      li.nav-item
        a.nav-link
*/
.nav
  &-header
    float right

  &-item
    float left
    line-height $header-height
    padding-left 10px
    padding-right 10px

    &:last-child
      padding-right 0

  &-link
    display block
    font-size 11px
    text-transform uppercase
    letter-spacing 0.1em
    color #FFF
    +below(510px)
      font-size 9px

    &:hover
      color #1B57A8
