.profile-card
  clearfix()
  width 100%
  padding-top 14px
  padding-bottom 14px

  &-photo
    float left
    margin-left 14px
    width 62px
    height 62px
    border-radius 100%
    border 1px solid #FFF

  &-name
    float left
    color #020B12
    margin-top 16px
    margin-left 5px
