<div class="no-auth-image"></div>
<div class="no-auth-overlayer"></div>
<main class="page-container about-plataform">
  <h1 class="page-login-title">About</h1>
  <p class="page-login-text">Connect is the best way to connect with people, express yourself and discover what's happening in your twitter and facebook!</p>
  {{outlet}}
</main>