<div {{bind-attr class="currentPage session.isAuthenticated:auth:no-auth"}}>
  <div {{bind-attr class=":site-container isDashboardEnabled:active"}}>
    {{header-connect network=currentNetwork session=session}}
    {{outlet}}
  </div>
</div>