<div class="no-auth-image"></div>
<div class="no-auth-overlayer"></div>

<main class="page-container about-plataform">
  <h1 class="page-title">Security</h1>
  <p class="page-text">Connect not save your data. We don't save any information from you computer or yours social networks</p>
  <div class="btns-connect-container">
  {{outlet}}
  </div>
</main>